.form-contato {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #5fdaff 0%, #7f7bfe 100%);
    padding: 2rem;
    width: fit-content;
    margin: 2rem auto;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.form-contato textarea {
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
}

.form-contato input, 
.form-contato textarea,
.form-contato button {
    border-radius: 5px;
}

.form-contato button {
    width: fit-content;
    padding: 5px;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .form-contato {
        width: auto;
        margin: 2rem 2rem;
    }
}