/* Body */
body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Header */
header {
    display: flex;
    justify-content: space-between; /**/
    align-items: center;
    background-color: rgb(37, 37, 37);
    padding: 0.5rem 2rem;
    font-size: large;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
}

.logo-titulo_header {
    display: flex; 
    align-items: center;
    justify-content: left;
    width: auto; /**/
}


.img-header {
    width: 40px; /**/
    margin-right: 1rem; 
}

.titulo-header {
    color: white;
}

nav { /**/
    display: flex;
    flex-direction:row;
}


nav ul {
    display: flex; 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

nav ul:first-child {
    justify-content: center;
    flex: 1;
}

nav ul.login {
    justify-content: flex-end;
    width: auto;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none; 
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 3px;
    
}

/* título ofertas */
.titulo-ofertas {
    font-size: 18px;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bolder;
}

/* card itens */
.container-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(20deg, #5fdaff, #7f7bfe);
    padding: 2rem;
    margin: 0.5rem 2rem 2rem 2rem; /* cime, direita, baixo, esquerda*/
    border-radius: 5px;
}

.item {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #ffff;
    margin: 1rem 0; /* cima e baixo, esquerda direita*/
    padding: 1rem;
    box-shadow: 4px 4px 2px rgba(17, 17, 17, 0.5);
    border-radius: 5px;
    transition: transform .8s ease;
}

.item:hover {
    transform: scale(1.03);
}


.item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.item a h2, .item a span {
    font-size: 26px;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
}

.item a span {
    font-weight: 600;
}

.item a button {
    font-size: 16px;
    font-weight: 400;
    padding: 0.5rem;
    border-radius: 8px;
    color: #000000;
    border: 1px solid #242424;
}

.item a input[type="number"] {
    color: #7f7bfe;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 5px;
    
}

.item a input[type="number"]::placeholder {
    color: #7f7bfe; 
}

#quantidade {
    box-sizing: content-box;
    width: 25%;
}

.item button:hover {
    background-color: #3d3d3d;
    color: white;
    cursor: pointer;
}

.img-item {
    width: 60%;
    height: auto;
}

/* DA PÁGINA DETALHES */

.detalhe {
    width: 60%;
    background-color: white;
}

.descricao {
    font-size: 24px
}

/* DO MENU HAMBUERGUER */

.menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 65px;
    width: auto;
    left: 0;
}
.menu a {
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}
.menu a:hover {
    background-color: #575757;
}
.hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    height: 50px;
}

footer h1,
footer h2 {
    padding: 8px 16px;
}

footer h1:hover,
footer h2:hover {
    background-color: #575757;
    border-radius: 3px;
    cursor: pointer;
}

@media (max-width: 768px) {

    header {
        flex-direction: row-reverse;
    }

    header nav {
        display: none;
    }

    .img-header {
        order: 1;
        margin-right: 0;
        margin-left: 1rem;     
    }

    .detalhe {
        width: 90%;
    }

    .hamburger {
        display: flex;
    }
}